* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 10px;
}
body {
	font-family: "Nunito Sans", sans-serif;
	background-color: hsl(0, 0%, 98%);
	color: hsl(200, 15%, 8%);
}
/* 
*****************
HEADER
***************** */
header {
	font-size: 2rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	box-shadow: rgba(149, 157, 165, 0.3) 0px 5px 20px;
	padding: 3rem;
}

.header--main-heading {
	font-weight: 800;
}
.header__theme-toggler {
	font-weight: 600;
	display: flex;
	gap: 1.2rem;
}

/* 
*****************
SEARCH AND FILTER
***************** */

.form {
	margin: 3rem;
}
.search {
	display: flex;
	align-items: center;
	position: relative;
}
.search--icon {
	font-size: 4rem;
	color: hsl(0, 0%, 52%);
	position: absolute;
	left: 3rem;
}

.search--input {
	padding: 3rem;
	border-radius: 5px;

	border: none;

	font-size: 2rem;
	font-weight: 300;
	box-shadow: rgba(149, 157, 165, 0.3) 0px 5px 20px;
}
.search--input {
	width: 100%;
	color: hsl(0, 0%, 52%);
	text-indent: 6rem;
}

.dropdown {
	margin-top: 7rem;
	margin-left: 3rem;
	font-size: 2rem;
	position: relative;
	cursor: pointer;
	color: #111517;
	width: 100%;
}

.dropdown .selected-value,
.dropdown .options {
	padding: 3rem;
	border-radius: 5px;

	border: none;

	font-size: 2rem;
	font-weight: 300;
	box-shadow: rgba(149, 157, 165, 0.3) 0px 5px 20px;
}

.dropdown--icon {
	font-size: 2rem;
	position: absolute;
	right: 2rem;
	top: 3rem;
}

.dropdown .options {
	display: none;
}

.dropdown .options.open {
	display: block;
}

.dropdown .option {
	cursor: pointer;
	line-height: 4rem;
}
